#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	$(MAKE) build-release man

override_dh_auto_test:
	$(MAKE) test-unit version-check docs-check

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/xxc-aptd

override_dh_auto_clean:
	rm -rf .build/man

override_dh_installsystemd:
	dh_installsystemd --no-start
